.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.product-item {
    display: flex;
    max-width: 18em;
    min-height: 19em;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid gray;
    margin-bottom: 4em;
    color: black;
}

.low-stock {
    font-size: 0.8em;
}

.product-list-wrapper ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
}

.product-list-wrapper {
    padding: 2em;
}

.product-image-wrapper img {
    width: auto;
    height: 100%;
    display: block;
}

.product-image-wrapper {
    overflow: hidden;
    height: 10em;
}

.bold-text {
    font-weight: bold;
}

.product-list-wrapper h2 {
    text-align: center;
}

.delete-button {
    display: flex;
    justify-content: space-between;
}

.low-stock {
    display: inline-flex;
    align-items: center;
}

.product-form-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.form-wrapper {
    align-content: flex-end;
    justify-content: space-around;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
    padding: 0 2em;
    font-weight: bold;
    justify-items: center;
}

.form-wrapper input {
    border: 1px solid black;
}

.input-field {
    color: black;
    background-color: aliceblue;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.add-item-button {
    height: 2.8em;
    width: 9em;
    font-size: 0.8em;
    margin-top: auto;
}
