.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.product-item {
    display: flex;
    max-width: 18em;
    min-height: 19em;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid gray;
    margin-bottom: 4em;
    color: black;
}

.low-stock {
    font-size: 0.8em;
}

.product-list-wrapper ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
}

.product-list-wrapper {
    padding: 2em;
}

.product-image-wrapper img {
    width: auto;
    height: 100%;
    display: block;
}

.product-image-wrapper {
    overflow: hidden;
    height: 10em;
}

.bold-text {
    font-weight: bold;
}

.product-list-wrapper h2 {
    text-align: center;
}

.delete-button {
    display: flex;
    justify-content: space-between;
}

.low-stock {
    display: inline-flex;
    align-items: center;
}
