.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.product-item {
    display: flex;
    max-width: 18em;
    min-height: 19em;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid #74bef7;
    margin-bottom: 4em;
    color: black;
}

.low-stock {
    color: rgb(240, 29, 57);
    font-weight: bold;
    font-size: 0.9em;
}

.product-list-wrapper ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1em;
}

.product-list-wrapper {
    padding: 2em;
}

.product-image-wrapper img {
    width: auto;
    height: 100%;
    display: block;
}

.product-image-wrapper {
    overflow: hidden;
    height: 10em;
}

.bold-text {
    font-weight: bold;
}

.product-list-wrapper h1 {
    text-align: center;
    text-transform: uppercase;
    color: #0062ac;
}

.delete-button {
    display: flex;
    justify-content: space-between;
}

.delete-button button {
    background-color: #74bef7;
}

.low-stock {
    display: inline-flex;
    align-items: center;
}

.update-product-form-wrapper {
    font-weight: bold;
    margin-top: 3em;
    display: flex;
    gap: 3em;
}

.product-form-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.form-wrapper {
    align-content: flex-end;
    justify-content: space-around;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
    padding: 0 2em;
    font-weight: bold;
    justify-items: center;
}

.form-wrapper input {
    border: 1px solid #74bef7;
}

.input-field {
    color: black;
    background-color: aliceblue;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.add-item-button {
    width: 9em;
    font-size: 0.8em;
    margin-top: auto;
    background-color: #74bef7;
}

.item-details-page-wrapper h1 {
    color: #0062ac;
}

.item-details-page-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 1em 1em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    gap: 6em;
}

.item-details-page-wrapper p {
    border: 1px solid #74bef7;
    width: 30%;
    padding: 0.3em;
}

.item-details-page-wrapper li {
    width: 100%;
    height: 100%;
}

.item-details-page-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    padding: 1em;
    border: 1px solid #74bef7;
}
.item-details-page {
    margin-top: 4em;
}

.input-field-update {
    display: flex;
    color: black;
    background-color: aliceblue;
    width: 100%;
    padding: 8px;

    border: 1px solid #74bef7;
}

.update-item-button {
    width: 9em;
    font-size: 0.9em;
    margin-top: auto;
    background-color: #74bef7;
}
