.sideBar {
    position: fixed;
    left: 0;
    top: 9em;
    height: 100%; /* Adjust the height as needed */
    width: 5em; /* Adjust the width as needed */
    background-color: #344af16f;
    color: white;
    padding-top: 130px; /* Adjust where the Home Page starts */
    padding-bottom: 60px;
    text-align: center;
    order: 0;
}

nav {
    padding: 20px;
}

.sideBar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

li {
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}
