.sideBar {
    position: fixed;
    left: 0;
    padding: 0;
    width: 8em;
    background-color: #344bf1;
    color: white;
    height: 100%;
    text-align: center;
}

nav {
    padding: 20px;
}

.sideBar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 2em 0 0;
    margin: 0;
    width: 100%;
    justify-content: flex-start;
    gap: 1em;
}

.sideBar a {
    color: white;
    text-shadow: black 0.5px 0.5px;
}

.sideBar a:hover {
    color: #202bfa;
}

.sidebar-width-placeholder {
    width: 9.2em;
}
