.navBar {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex: 1 auto;
    padding: 10px;
    background-color: #344bf1;
}

.navBar h1 {
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease, text-shadow 0.3s ease;
    cursor: default;
}

.navBar h1:hover {
    color: #f2ffff;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.75);
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.navBar img {
    height: 7em;
    border-radius: 5px;
    margin: 0;
    padding: 0.5em;
    animation: bounce 2s infinite;
}
